@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
  }

  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 50px;
    left: 0;
    padding: 0 9%;
    align-items: center;
    z-index: 999;
    height: 76px
  }

  header a {
    text-decoration: none;
    color: #000;
  }
  
  header.active {
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: all 250ms;
    z-index: 999;
    padding: 0 6%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  header.active .logo-wrapper img {
    width: 30px;
    height: 30px;
  }
    
  .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo-wrapper img {
    width: 60px;
    height: 60px;
    margin-right: 1em;
  }
  header .buttons-wrapper{
    display: flex;
    align-items: center;
  }
  
  header .button {
    background-color: #78C655;
    border-radius: 6px;
    padding: 9px 22px;
    transition: all 200ms;
    cursor: pointer;
  }

  header .button a{
    color: #fff;
  }
  header .button:hover{
    color: #fff;
    background-color: #59ce23;
  }
  
  header .button:active {
    color: #fff;
    background-color: #46a51b;
  }

  header .button.btn_one{
    margin-right: 20px;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .trending {
    font-weight: 300;
    font-size: 40px;
    margin-top: 120px;
  }

  .top-categories {
    list-style-type: none;
    display: flex;
    
  }

  .category {
    padding: 0 25px;
    font-size: 20px;
    margin-top: 20px;
    color: #b3b3b3;
  }

  .selected {
    color: #78c754;
    text-shadow: 0 0 1px;
  }

  .cards-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 100%;
  }

  .card {
    width: 230px;
    margin-right: 39px;
    margin-bottom: 100px;
    cursor: pointer;
    transition: all .2s;
  }

  .card:hover {
    transform: scale(1.1);
  }

  .image {
    position: relative;
  }

  .img-container {
    max-width: 100%;
    width: 100%;
    height: 70%;
  }

  .product-img {
    width: inherit;
    height: inherit;
  }

  .sticker {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #78C655;
    color: #fff;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 10px;
  }

  .details {
    display: flex;
    flex-direction: column;

  }

  .product-category {
    color: #b3b3b3;
    text-transform: capitalize;
  }

  .product-title {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 8px;
  }

  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    color: #78C655;
    font-weight: 600;
  }

  .stars {
    color: #78C655;
    font-size: 14px;
  }


/* Product Pop Up */

.product-popup {
  position: relative;
  height: 80%;
  width: 80%;
  background-color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.product-details {
  height: 90%;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
}

.seller-details {
  height: 90%;
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details-image-container {
  height: 70%;

}

.product-details-image {
  width: inherit;
  height: 100%;
}

.section-title {
  font-size: 20px;
  font-weight: 800;
}

.product-details-title {
  font-size: 20px;
  font-weight: 600;
}

.product-details-price {
  font-weight: 400;

}

.product-details-image-container {
  height: 70%;

}

.product-details-image {
  width: inherit;
  height: 100%;
}

.section-title {
  font-size: 20px;
  font-weight: 800;
}

.seller-details-title {
  font-size: 20px;
  font-weight: 600;
}

.seller-details-price {
  font-weight: 400;

}

.seller-details-image-container {
  height: 200px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.seller-details-image {
  height: 100%;
  max-width: 300px;
  width: 100%;

}

.x {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: #78C655;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
}

.x:hover {
  color: #fff;
  background-color: #46a51b;
}


.title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
}

form {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  top: 55%;
  left: 58%;
  transform: translate(-50%,-50%);
}

.form {
  display: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.intro {
  width: 100%;
  border: none;
  font-size: 20px;
}
#title{
  margin-right: 20%;
  font-size: 30px;
}


.intro label, .intro input {
  display: block;
}

.intro input {
  margin: 8px 0;
  padding: 10px;
  width: 80%;
  border-radius: 9px;
}
  
.selections {
  font-size: 20px;
  border: none;
  margin-top: 5px;
  margin-right: 170px;
}



#dropdown {
  padding: 5px;
  margin-bottom: 5px;
}


#submit {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3rem;
  background-color:#78C655;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 170px;
}


.x2 {
  position: absolute;
  top: 2%;
  right: 15%;
  background-color: #78C655;
  color: #fff;
  padding: 2px 10px;
  cursor: pointer;
}

.x2:hover {
  color: #fff;
  background-color: #46a51b;
}

/* Delete Button */

.product-details-delete {
  padding: 8px 15px;
  background-color: #46a51b;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
}

.product-details-delete:hover {
  color: #fff;
  background-color: #59ce23;
}

.product-details-delete:active {
  color: #fff;
  background-color: #46a51b;
}

footer {
  background-color: red;
  color: #fff;
}