@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
  }

  header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 50px;
    left: 0;
    padding: 0 9%;
    align-items: center;
    z-index: 999;
    height: 76px
  }

  header a {
    text-decoration: none;
    color: #000;
  }
  
  header.active {
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    transition: all 250ms;
    z-index: 999;
    padding: 0 6%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  
  header.active .logo-wrapper img {
    width: 30px;
    height: 30px;
  }
    
  .logo-wrapper {
    display: flex;
    align-items: center;
  }
  
  .logo-wrapper img {
    width: 60px;
    height: 60px;
    margin-right: 1em;
  }
  header .buttons-wrapper{
    display: flex;
    align-items: center;
  }
  
  header .button {
    background-color: #78C655;
    border-radius: 6px;
    padding: 9px 22px;
    transition: all 200ms;
    cursor: pointer;
  }

  header .button a{
    color: #fff;
  }
  header .button:hover{
    border: 2px solid #224610;
  }

  header .button.btn_one{
    margin-right: 20px;
  }


  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .trending {
    font-weight: 300;
    font-size: 40px;
    margin-top: 120px;
  }

  .top-categories {
    list-style-type: none;
    display: flex;
    
  }

  .category {
    padding: 0 25px;
    font-size: 20px;
    margin-top: 20px;
    color: #b3b3b3;
  }

  .selected {
    color: #78c754;
    text-shadow: 0 0 1px;
  }

  .cards-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    margin-top: 60px;
  }

  .card {
    width: 230px;
    height: 300px;
    margin-right: 39px;
    margin-bottom: 100px;
  }

  .image {
    position: relative;
  }

  .img-container {
    max-width: 100%;
    width: 100%;
    height: 70%;
  }

  .product-img {
    width: inherit;
    height: inherit;
  }

  .sticker {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #78C655;
    color: #fff;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 10px;
  }

  .details {
    display: flex;
    flex-direction: column;

  }

  .product-category {
    color: #b3b3b3;

  }

  .product-title {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 8px;
  }

  .price-stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    color: #78C655;
    font-weight: 600;
  }

  .stars {
    color: #78C655;
    font-size: 14px;
  }



